.container {
  position: relative; 
  display: flex;
  flex-direction: column;
  padding: 90px 50px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  font-family: Avenir;
  gap: 30px;
  box-sizing: border-box;
  min-height: 600px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 500px;
  z-index: 1;
}

.wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 48px;
  width: 100%;
}

h1 {
  font-family: Helvetica;
  min-width: 640px;
  font-size: 80px;
  font-weight: 700;
  color: #212353;
  line-height: 1.2;
  margin: 0;
}
h2 {
  font-family: Helvetica;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.p1 {
  font-size: 18px;
  font-weight: 500;
  color: #4b5d68;
  line-height: 1.6;
  width: 100%;
}

.btn {
  background-color: #9c69e2;
  color: white;
  border-radius: 50px;
  height: 53px;
  width: 100%;
  max-width: 169px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.img1 {
  position: absolute;
  right: 35px;
  top: 180px;
  max-width: 759px;
  height: auto;
  object-fit: contain;
}

.cardGridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 50px;
  width: 100%;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
    padding: 40px 20px;
  }

  .wrapper {
    gap: 1.5rem;
    text-align: center;
    align-items: center;
    width: 100%;
  }

  .wrapper2 {
    gap: 24px;
    text-align: center;
    align-items: center;
    width: 100%;
  }

  h1 {
    font-size: 32px;
    min-width: unset;
  }

  .img1 {
    position: static;
    max-width: 80%;
    margin-top: 20px;
  }

  .cardGridContainer {
    grid-template-columns: 1fr; /* 1 cột khi mobile */
  }
}
